main {
    width:100%;
    h1 {
        padding-bottom: 1em;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        article {
            width: 200px;
            height: 200px;
        }
        img {
            padding-top: 1em;
        }
    }
}