
// Assigning colour pallette for website
$primarycolor: #A9C6D9;
$secondarycolor: #88A67B;
$thirdcolor: #A6705D;
$fourthcolor: #F24C3D;
$fifthcolor: #59332A;

// v1 of website design. no longer used. Redesigned layout starts on line 69

// body {
//     display: grid;
//     grid-template-columns: 100%;
//     grid-template-rows: repeat(5, min-content);
//     grid-template-areas:
//     "header"
//     "navpersonal"
//     "main"
//     "aside"
//     "footer";
// }

// header {
//     grid-area: header;
// }

// main {
//     grid-area: main;
// }

// aside {
//     grid-area: aside;
// }

// footer {
//     grid-area: footer;
// }

// // grid to contain nav and personal
// #navpersonal {
//     grid-area: navpersonal;
//     display: grid;
//     grid-template-columns: 1fr 2fr;
//     grid-template-rows: repeat(5, min-content);
//     grid-template-areas:
//     "navitems selfportrait"
//     "navitems selfportrait"
//     "navitems selfportrait"
//     "navitems emailphone"
//     "navitems emailphone";
// }

// #navitems {
//     grid-area: navitems;
// }

// #selfportrait {
//     grid-area: selfportrait;
// }

// #emailphone {
//     grid-area: emailphone;
// }

body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(3, min-content);
    // grid-template-areas:
    // "header"
    // "nav"
    // "selfportrait"
    // "blurb"
    // "main"
    // "footer";
}

// header {
//     grid-area: header;
// }

// nav {
//     grid-area: nav;
// }

// #selfportrait {
//     grid-area: selfportrait;
// }

// #blurb {
//     grid-area: blurb;
// }

// main {
//     grid-area: main;
// }

// footer {
//     grid-area: footer;
// }