// v1 of website design. no longer used. Redesigned layout starts around line 58

// body {
//     display: grid;
//     grid-template-columns: 100%;
//     grid-template-rows: repeat(5, min-content);
//     grid-template-areas:
//     "header"
//     "navpersonal"
//     "main"
//     "aside"
//     "footer";
// }

// header {
//     grid-area: header;
// }

// main {
//     grid-area: main;
// }

// aside {
//     grid-area: aside;
// }

// footer {
//     grid-area: footer;
// }

// // grid to contain nav and personal
// #navpersonal {
//     grid-area: navpersonal;
//     display: grid;
//     grid-template-columns: 1fr 2fr;
//     grid-template-rows: repeat(5, min-content);
//     grid-template-areas:
//     "navitems selfportrait"
//     "navitems selfportrait"
//     "navitems selfportrait"
//     "navitems emailphone"
//     "navitems emailphone";
// }

// #navitems {
//     grid-area: navitems;
// }

// #selfportrait {
//     grid-area: selfportrait;
// }

// #emailphone {
//     grid-area: emailphone;
// }


// Assigning colour pallette for website
$firstcolor: #E6EFE9;
$secondcolor: #C5F4E0;
$thirdcolor: #C2EABA;
$fourthcolor: #A7C4A0;
$fifthcolor: #8F8389;

// importing font styles from google fonts
    // titles
    @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap');

    // main content
    @import url('https://fonts.googleapis.com/css2?family=Fjord+One&display=swap');

// mixins
@mixin title {
    font-family: 'Commissioner', sans-serif;
}

@mixin maincontent {
    font-family: 'Fjord One', serif;
}

@mixin addpadding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

* {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;

}

body {
    @include maincontent;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
}

img {
    width: fit-content;
}

header {
    @include addpadding;
    background-color: $firstcolor;
}

nav {
    @include addpadding;
    background-color: $secondcolor;
    div {
        flex-direction: column;
    }
    h2 {
        padding-bottom: 1em;
    }
    ul {
        li {
            @include addpadding;
        }
    }
}

#personal {
    background-color: $thirdcolor;
    img {
        @include addpadding();
    }
}

#phonemail {
    @include addpadding;
}

main {
    @include addpadding;
    background-color: $fourthcolor;
    h1 {
        padding-bottom: 1em;
    }
}

.socicon {
    width: 3em;
    height: 3em;
}

#socgrid {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    justify-content: center;
}

.social {
    padding: 1em;
}

#blogrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.blogicon {
    width: 50px;
    height: 50px;
}

footer {
    @include addpadding;
    background-color: $fifthcolor;
}

.title {
    @include title;
}

#hamburger {
    height: 20px;
    width: 20px;
}

#navitems {
    // hides the navitems until the hamburger is clicked
    display: none;
}