// colour pallette for website
$firstcolor: #E6EFE9;
$secondcolor: #C5F4E0;
$thirdcolor: #C2EABA;
$fourthcolor: #A7C4A0;
$fifthcolor: #8F8389;

// importing font styles from google fonts
    // titles
    @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap');

    // main content
    @import url('https://fonts.googleapis.com/css2?family=Fjord+One&display=swap');


@mixin title {
    font-family: 'Commissioner', sans-serif;
}

@mixin maincontent {
    font-family: 'Fjord One', serif;
}

// padding for better spacing of the different sections of the document
@mixin addpadding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

// default settings recommended in lecture
* {
    margin: 0;
    box-sizing: border-box;
    @include maincontent;
}

// separates most of the content of the page into flexboxes and gives them some nice formatting
body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

// all the short, important titles for the document
.title {
    @include title;
}

// each area of the page, separated by colour and outline
.container {
    width: 100%;
    outline: 2px solid black;
}

// ensures images don't go larger than their native size
img {
    max-width: fit-content;
}

header {
    @include addpadding;
    background-color: $firstcolor;
}

// combined area of navigation header and burger menu, to make them side-by-side
#navburger {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @include addpadding;
    background-color: $secondcolor;
    a {
        display: block
    }
}

// hamburger menu icon
#hamburger {
    height: 20px;
    width: 20px;
}

// all of the items within the navigation menu i.e. the pages of the website
#navitems {
    // makes the navitems invisible until the hamburger is clicked
    // display: none;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $secondcolor;
    a {
        color: black;
        background-color: $fourthcolor;
        padding: 1em;
        transition: .2s;
    }
    a:hover {
        background-color: $fifthcolor;
        color: $firstcolor;
    }
}

// area for my portrait and details
#personal {
    background-color: $thirdcolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include addpadding;
    img {
        width: 190px;
        margin-bottom: 1em;
        border: 1px solid black;
    }
    article {
        padding: 1em;
        border-radius: 25px;
        border: 1px solid black;
        background-color: $fifthcolor;
    }
    article:hover {
        animation-name: blurbhover;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
}

// makes the blurb subtly change colour when hovered over. Not essential to the style of the site but I wanted to prove I could do keyframe animations.
@keyframes blurbhover {
    0% {
        background-color: $fifthcolor;
    }
    50% {
        background-color: #a56b6b;
    }
    100% {
        background-color: $fifthcolor;
    }
}

// main content of the page. should be the only part that changes between pages.
main {
    @include addpadding;
    width:100%;
    background-color: $fourthcolor;
    h1 {
        padding-bottom: 1em;
    }
    section {
        padding: 1em;
        a {
            color: rgb(0, 51, 58);
        }
    }
}

// professional looking image at the bottom of main.
#banner {
    width: 80%;
    border: 1px solid black;
}

// icons for social media links on Contact page.
.socicon {
    width: 3em;
    height: 3em;
}

// grid to keep the above icons together
#socgrid {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    justify-content: center;
}

// makes sure the icons aren't too close together
.social {
    padding: 1em;
}

// makes all the blog icons the same size
.blogicon {
    width: 50px;
    height: 50px;
}

// class for hiding the navbar/hamburger as the page increases or decreases in width. Essential part of the js code for hamburger menu
.hidden {
    display: none;
}

// opposite of above. Only applies to navitems. This sets up the navitems when they appear.
.shown {
    display: flex;
    flex-direction: column;
    a {
        outline: 1px solid black;
    }
}

// colouring and a bit of space for the footer.
footer {
    @include addpadding;
    background-color: $fifthcolor;
}

// stretches the navbar to fill the screen as it expands.
@media only screen and (min-width: 401px) {
    #navburger {
        justify-content: center;
    }
    // reduce to 0 for neatness sake re: navigation title alignment. Is not used to make the hamburger invisible when resizing.
    #hamburger {
        width: 0;
        height: 0;
    }

    // each navitem gets a cute little rounded rectangle
    #navitems {
        display: flex;
        flex-direction: row;
        a {
            border-radius: 15px;
            border: 1px solid black;
        }
        padding-bottom: 1em
    }
}