@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjord+One&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fjord One", serif;
}

body {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-family: "Commissioner", sans-serif;
}

.container {
  width: 100%;
  outline: 2px solid black;
}

img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #E6EFE9;
}

#navburger {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #C5F4E0;
}
#navburger a {
  display: block;
}

#hamburger {
  height: 20px;
  width: 20px;
}

#navitems {
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #C5F4E0;
}
#navitems a {
  color: black;
  background-color: #A7C4A0;
  padding: 1em;
  transition: 0.2s;
}
#navitems a:hover {
  background-color: #8F8389;
  color: #E6EFE9;
}

#personal {
  background-color: #C2EABA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#personal img {
  width: 190px;
  margin-bottom: 1em;
  border: 1px solid black;
}
#personal article {
  padding: 1em;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #8F8389;
}
#personal article:hover {
  -webkit-animation-name: blurbhover;
          animation-name: blurbhover;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes blurbhover {
  0% {
    background-color: #8F8389;
  }
  50% {
    background-color: #a56b6b;
  }
  100% {
    background-color: #8F8389;
  }
}

@keyframes blurbhover {
  0% {
    background-color: #8F8389;
  }
  50% {
    background-color: #a56b6b;
  }
  100% {
    background-color: #8F8389;
  }
}
main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: #A7C4A0;
}
main h1 {
  padding-bottom: 1em;
}
main section {
  padding: 1em;
}
main section a {
  color: #00333a;
}

#banner {
  width: 80%;
  border: 1px solid black;
}

.socicon {
  width: 3em;
  height: 3em;
}

#socgrid {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  justify-content: center;
}

.social {
  padding: 1em;
}

.blogicon {
  width: 50px;
  height: 50px;
}

.hidden {
  display: none;
}

.shown {
  display: flex;
  flex-direction: column;
}
.shown a {
  outline: 1px solid black;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #8F8389;
}

@media only screen and (min-width: 401px) {
  #navburger {
    justify-content: center;
  }

  #hamburger {
    width: 0;
    height: 0;
  }

  #navitems {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
  }
  #navitems a {
    border-radius: 15px;
    border: 1px solid black;
  }
}/*# sourceMappingURL=style.css.map */